version: "3.4"

services:
  shadowsocks-rust-server:
    image: yunielrc/shadowsocks-rust-server
    # you can choice between environment variables configuration OR config.js file
    # environment:
    #   - SS_ADDR='0.0.0.0'
    #   - SS_PORT=8388
    #   - SS_PASSWORD='your_password'
    #   - TIMEOUT=300
    #   - SS_ENCRYPT_METHOD='aes-256-gcm'
    #   # - SS_NAMESERVER='1.1.1.1'
    #   # - SS_PLUGIN='v2ray-plugin'
    #   # - SS_PLUGIN_OPTS='server;mode=quic;host=www.shadowsocks.com'
    volumes:
      - "./data/config.json:/etc/ssserver/config.json:ro"
    ports:
      - "443:8388"
